<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetKeeper</servlet-name>
        <servlet-class>servlets.GetPetKeeper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessSignUp</servlet-name>
        <servlet-class>servlets.SuccessSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDuplicates</servlet-name>
        <servlet-class>servlets.CheckDuplicates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessLogin</servlet-name>
        <servlet-class>servlets.SuccessLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetKeeperData</servlet-name>
        <servlet-class>servlets.GetKeeperData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintKeeperDetails</servlet-name>
        <servlet-class>servlets.PrintKeeperDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>servlets.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintPetKeepers</servlet-name>
        <servlet-class>servlets.PrintPetKeepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintPetOwners</servlet-name>
        <servlet-class>servlets.PrintPetOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindRegisteredUser</servlet-name>
        <servlet-class>servlets.FindRegisteredUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPetOwner</servlet-name>
        <servlet-class>servlets.GetPetOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintOwnerDetails</servlet-name>
        <servlet-class>servlets.PrintOwnerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishedBookings</servlet-name>
        <servlet-class>servlets.FinishedBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetKeeperID</servlet-name>
        <servlet-class>servlets.GetKeeperID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAcceptedBookings</servlet-name>
        <servlet-class>servlets.GetAcceptedBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReviews</servlet-name>
        <servlet-class>servlets.GetRequestedBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserReviews</servlet-name>
        <servlet-class>servlets.GetUserReviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessPetAdd</servlet-name>
        <servlet-class>servlets.SuccessPetAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOwnerID</servlet-name>
        <servlet-class>servlets.GetOwnerID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindIfOwnerHasPet</servlet-name>
        <servlet-class>servlets.FindIfOwnerHasPet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAvailableKeepers</servlet-name>
        <servlet-class>servlets.GetAvailableKeepers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBooking</servlet-name>
        <servlet-class>servlets.NewBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMessage</servlet-name>
        <servlet-class>servlets.NewMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetKeeper</servlet-name>
        <url-pattern>/GetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessSignUp</servlet-name>
        <url-pattern>/SuccessSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDuplicates</servlet-name>
        <url-pattern>/CheckDuplicates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessLogin</servlet-name>
        <url-pattern>/SuccessLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPetKeeper</servlet-name>
        <url-pattern>/GetPetKeeper</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetKeeperData</servlet-name>
        <url-pattern>/GetKeeperData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintKeeperDetails</servlet-name>
        <url-pattern>/PrintKeeperDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintPetKeepers</servlet-name>
        <url-pattern>/PrintPetKeepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintPetOwners</servlet-name>
        <url-pattern>/PrintPetOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindRegisteredUser</servlet-name>
        <url-pattern>/FindRegisteredUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPetOwner</servlet-name>
        <url-pattern>/GetPetOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintOwnerDetails</servlet-name>
        <url-pattern>/PrintOwnerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishedBookings</servlet-name>
        <url-pattern>/FinishedBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetKeeperID</servlet-name>
        <url-pattern>/GetKeeperID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAcceptedBookings</servlet-name>
        <url-pattern>/GetAcceptedBookings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReviews</servlet-name>
        <url-pattern>/GetReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserReviews</servlet-name>
        <url-pattern>/GetUserReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessPetAdd</servlet-name>
        <url-pattern>/SuccessPetAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOwnerID</servlet-name>
        <url-pattern>/GetOwnerID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindIfOwnerHasPet</servlet-name>
        <url-pattern>/FindIfOwnerHasPet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAvailableKeepers</servlet-name>
        <url-pattern>/GetAvailableKeepers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBooking</servlet-name>
        <url-pattern>/NewBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMessage</servlet-name>
        <url-pattern>/NewMessage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
